// Started Styles

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: $normal;
    color: $black;
    line-height: 94%;
    font-size: 1rem;
}

.wrapper {
    max-width: 100vw;
    overflow: hidden;
    background: $mainBg;
    animation: show 1s ease;
}

.wrapper .container section {
    animation: showTodo 1s ease;
}

.main {
    height: 100svh;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

input.error {
    border-color: #f99 !important;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showTodo {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
