// Fonts Variables

$primaryFont: "Roboto";
$secondaryFont: "Roboto Condensed";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Utils Variables

$primaryColor: #e1a0ff;

$mainBg: #e8ecf1;

$white: white;
$black: #444444;

// Other Colors

$gray1: #bebebe;
$gray2: #d9d9d9;
$gray3: #c9c9c9;

$red1: #f99;

$shadow: rgba(0, 0, 0, 0.2);
$shadowWhite: rgba(255, 255, 255, 0.2);

// Container Variables

$containerWidth: 75rem;
$containerPadding: 1.25rem;
