.btn {
    height: 2.56rem;
    width: 100%;
    background: #e1a0ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 125%;
    letter-spacing: -0.05em;
    text-align: center;
    border-radius: 0.38rem;
    transition: 0.3s;
}

.btn:hover {
    background: #d271ff;
}
