// Input Group Styles

@import "../../../assets/styles/base/variables.scss";

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    text-align: left;

    &__label {
        font-size: 0.75rem;
        line-height: 125%;
        color: $gray1;
    }

    input {
        height: 2.56rem;
        width: 100%;
        border: 1px solid $gray1;
        border-radius: 0.38rem;
        padding: 1rem;
        font-size: 0.875rem;
        transition: 0.3s;

        &.error {
            border-color: $red1;
        }
    }
}
